<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Get it Done!</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/moment.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
</head>
<body>
  <div id="container">
    <div id="quote">"<%= quote.quoteText %>"<br>&mdash; <%= quote.quoteAuthor %></div>
    <!-- <canvas id="lineChart" width="400" height="400"></canvas> -->

  </div>
</body>
</html>
